doctype html

html
  head
    meta(charset='UTF-8')
    title 司南TODO

  body
    #root
    if env !== 'prod'
    script(src=env == 'prod' ? '/js/todoapp.bundle.js' : 'https://localhost:3000/js/todoapp.bundle.js')
